:80 {
    # Reverse proxy API requests to backend
    handle /api/* {
        reverse_proxy backend:8080
    }
    # Serve static files for all other requests
    handle {
        root * /usr/share/caddy
        try_files {path} {path}.html /index.html
        file_server {
     	    precompressed br zstd gzip
        }
    }
}
