services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "8081:80"
    volumes:
      - ./frontend:/usr/share/caddy/
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - backend

  backend:
    build: ./backend
    environment:
      DATABASE_URL: "postgres://postgres:password@postgres:5432/postgres?sslmode=disable"
    depends_on:
      - postgres

  postgres:
    build:
      context: .
      dockerfile: Dockerfile.db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./.db:/var/lib/postgresql

  email-service:
    build: ./email-service
    environment:
      DATABASE_URL: "postgres://postgres:password@postgres:5432/postgres?sslmode=disable"
    depends_on:
      - postgres
